[Unit]
Description=Socket uWSGI app
After=syslog.target
Before=nginx.service

[Service]
ExecStart=/usr/local/bin/uwsgi \
        --ini /home/pi/socket/socket_app.ini
User=pi
Group=www-data
Restart=on-failure
KillSignal=SIGQUIT
Type=notify
StandardError=syslog
NotifyAccess=all

[Install]
WantedBy=multi-user.target
